@import "base";

@import "components/header";
@import "components/icons";

@import "pages/index";
@import "pages/compra";
@import "pages/suscripcion";
@import "pages/quienes-somos";
@import "pages/apoyanos";


/*basico*/
*{
    margin:0;
    padding:0;
    outline:0;
    
    
}



/* imagen principal perro comiendo */










/* segundo html exclusivamente*/

