.card-text{
    font-size: 10px;
}
.producto{
    text-align: center;
    align-items: center;
}

.img-producto{
    max-width:100% ;
    width: 300px;
}
.producto-title{
    text-align: center;
    padding-bottom: 1%;
}
.producto-body{
    font-size: large;
    border: #000000;
}
.pago-button{
    background-color: #47af5e;
    border-radius:10%;
    margin-bottom: 50px;
    font-weight: bold;
    padding: 0.5%;
}
.precio-producto{
    font-weight: bold;
    font-size: large;
}

